# 版本控制
.git
.github
.gitignore

# 依赖
node_modules
.pnpm-store

# 构建输出
.nuxt
.output
dist

# 日志
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 环境变量
.env
.env.*
!.env.example

# 编辑器配置
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 操作系统文件
.DS_Store
Thumbs.db

# Docker相关
Dockerfile
docker-compose.yml
.dockerignore

# 测试相关
coverage
.nyc_output

# 其他
README.md
LICENSE
*.md 